replicaCount: 3
service:
  type: LoadBalancer
resources:
  requests:
    cpu: "200m"
    memory: "256Mi"
nodeSelector:
  env: prod
tolerations:
  - key: env
    operator: Equal
    value: prod
    effect: NoSchedule
